html{
    box-sizing: border-box;
    margin: 0; padding: 0;
  }
  
  *, *:after, *:before{
    box-sizing: inherit;
    border: none;
  }

  body{
    background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
}

.outer_container{
    position: relative;
    font-family: 'Quicksand', sans-serif;
    width: 40%;
    margin: 8em auto;
    text-align: center;
    /* border: 1px solid black; */
}
@media(max-width:1350px) {
    .outer_container{
      width: 60%; 
    }
}
@media(max-width:1050px) {
    .outer_container{
        width: 80%;
    }
}
@media(max-width:850px) {
    .outer_container{
        width: 90%;
        margin: 4em auto;
    }
}
@media(max-width:650px) {
    .outer_container{
        width: 100%;
        margin: 3em auto;
    }
}
.header_title{
    color: #e6e6e6;
}
#shape{
    width: 2em;
}
h1 > small{
    font-size: .5em;
}
.buttons_container{
    display: flex;
    justify-content: center;
    margin: 1em 0;
}

.add_button,
.filter_button
{
    width: 20%;
    padding: 1em .5em;
    background-color: #08898F;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0px 0px 1px 0 #333333;
    border-radius: 2px;
    transition:all .3s ease;
    margin: 0 .3em;
    font-size: .9em;
    letter-spacing: 1px;
}
@media(max-width:768px) {
    .add_button,
    .filter_button{
        padding: .9em 0em;
    }
}
.add_button:hover{background-color: #15676C;}
.filter_button:hover{background-color: #15676C;}

#add > input,
#filter > input{
    width: 100%;
    border-radius: 2px;
    padding: .8em 1em;
    transition:all .3s ease;
    display: none;
    font-size: .9em;
    font-family: 'Quicksand', sans-serif;
}
#add_input:focus{outline: none;}
#filter_input:focus{outline: none;}

/* DOM li styles */
.tasks_container{
    list-style-type: none;
    padding: 0%;
    margin: 2em 0;
}
.tasks_container > li {
    display: flex;
    justify-content: space-between;
    background-color: #e6e6e6;
    border-radius: 2px;
    margin: .2em 0;
    padding:.4em .8em;
    color: #333333;
}
.tasks_container > li > p{
    margin: 0%;
}

/* close__button */
.close_button{
    color: 08898F;
    cursor: pointer;;
}
.para{
    cursor: pointer;
}

/* empty input error */
.input_error{
    box-shadow: 0px 0px 3px 2px rgba(196, 37, 61, 0.7) inset;
    -webkit-box-shadow: 0px 0px 3px 2px rgba(196, 37, 61, 0.7) inset;
    -moz-box-shadow: 0px 0px 3px 2px rgba(196, 37, 61, 0.7) inset; 
}
.error{
    color: rgba(196, 37, 61);
    font-size: .7em;
    font-weight: bold;
    text-align: left;
}
.error{
    float: left;
    margin: 0;
    padding: .3em 1em;
    display: none;
}

/* dark mode toggle classes */
.dark_background{
    background-image: linear-gradient(to top, #2b393b 0%, #2b393b 100%);
}
.fas{
    position: absolute;
    right: 2%; top: 10%; 
    cursor: pointer;
    font-size: .9em;
}
@media(max-width:650px) {
    .fas{
        top: 0%;
    }
}
.fa-sun{
    color: #12bcc5;
}
.fa-moon{
    color: #e6e6e6;
    transform: rotate(220deg);
}
